<!--by Ai Le, Dana-->
<div class="panel panel-default col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" ng-model="item">
    <!--<h1>This is where you can take note about a book you have read - data will be saved by POST to node api</h1>-->
    <h1>{{item.title}}</h1>
    <h6>
        By <span class="" ng-repeat="auths in item.authors">{{auths}} </span>,
        ISBN 10: {{item.isbn_10}},
        ISBN 13: {{item.isbn_13}}
    </h6>
    <form novalidate name="bookMarkForm" ng-submit="saveBookmark()">
        <div class="form-group">
            <div>
                <label>When did you finish the book?</label>
                <input type="date" class="form-control" ng-model="date" name="date" value="{{item.finishedDate ||  1990}}-01-01">
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>How do you rate it?</label>
                <div class="starRating" ng-model="myRating">
                    <input id="rating5" type="radio" value="5" name="rating">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" value="4" name="rating">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" value="3" name="rating">
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" value="2" name="rating">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" value="1" name="rating">
                    <label for="rating1">1</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label>Notes about the book: </label>
                <textarea class="form-control" ng-model="note" rows="8">{{item.notes}}</textarea>
            </div>
        </div>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right" ng-click="saveBookmark(item)">Save</button>
        </div>
    </form>
</div>

<script>
    function checkStars(no) {
        document.getElementById("rating" + no).setAttribute("checked", "");
    }
</script>